:root {
    scrollbar-color: black transparent;
    scrollbar-width: thin;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-resizer {
    background-color: transparent;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url(./fonts/Avenir.otf);
}

@font-face {
    font-family: 'Futura';
    src: url(./fonts/Futura.ttf) format('truetype');
}
@font-face {
    font-family: 'Futura';
    src: url(./fonts/FuturaBold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Futura';
    src: url(./fonts/FuturaItalic.ttf) format('truetype');
    font-style: italic;
}

a {
    text-decoration: none;
    color: unset;
}
